<div class="title">
    <h1>Registeration</h1>
    <h5>
        welcome new user! please fill the Registeration form below in order to sign up.
        <br />
        make sure all the details are correct in order to get your delivery to the right address
    </h5>
    <h4 id="note">note! the "next" button will only appear once all fields are filled and both passwords match</h4>
</div>
<mat-horizontal-stepper #stepper [linear]="isLinear" #stepper id="register-form" linear>
    <mat-step [stepControl]="firstFormGroup">
      <br />
      <br />
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>email and password</ng-template>
        <mat-form-field id="field1">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="email" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field id="field2">
            <mat-label>password</mat-label>
            <input type="password" matInput [(ngModel)]="password" formControlName="firstCtrl" required>
        </mat-form-field>
        <mat-form-field id="field3">
            <mat-label>confirm password</mat-label>
            <input type="password" matInput [(ngModel)]="confirmPassword" formControlName="firstCtrl" required>
        </mat-form-field>
        <div *ngIf="email && password && confirmPassword && password === confirmPassword">
          <button mat-button matStepperNext id="next1">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Personal info & address</ng-template>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput [(ngModel)]="city" formControlName="secondCtrl" required>
          </mat-form-field>
        <mat-form-field id="field4">
            <mat-label>Street</mat-label>
            <input matInput [(ngModel)]="street" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field id="field5">
            <mat-label>First name</mat-label>
            <input matInput [(ngModel)]="firstName" formControlName="secondCtrl" required>
        </mat-form-field>
        <mat-form-field id="field6">
            <mat-label>Last name</mat-label>
            <input matInput [(ngModel)]="lastName" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext *ngIf="city && street && firstName && lastName">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <h4 id="details">
        email: {{email}}
        <br />
        city: {{city}}
        <br />
         street: {{street}}
         <br />
          first name: {{firstName}}
          <br />
          last name: {{lastName}}
      </h4>
      <p> if all the details are correct you can press the register button & login to start shopping!</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="register()">register</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  